/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
   --background-image: url("/images/cover-image-dark.png");
   --background-color:#000028;
}
  

.page {
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-size: cover;
  font-family: 'IBM Plex Mono', monospace;
}

.header {
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows:1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

.header__theme-menu {
 justify-items: end;
}

.header__theme-menu-item:not(:last-child){
margin-bottom: 10px;
}

.header_decorative_element {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.header_decorative_element::after {
content: "";
display: inline-block;
width: 9px;
height: 9px;
border-radius: 100%;
background-color: var(--accent-color);
margin-left: 10px;
box-shadow: 0 0 4px 2px var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  bottom: 20px;
  left: 10px;
  position: absolute;
}

.header__theme-menu-button {
  background-color: transparent;
  color:  var(--accent-color);
  border: none;
  font-size: 18px;
  line-height: 18px;
  font-family: 'IBM Plex Mono' ;
}

.header_title {
  font-family: 'IBM Plex Mono';
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: var(--main-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
}

.title-decor {
  background-color: var(--accent-color);
}

.header_text {
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  color:#000028;
  line-height: 130%;
  font-weight: 700;
}

.content {
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  margin-block-start: 40px;
  gap: 50px;
}

.section-title {
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
  padding-bottom: 20px;
}

.section-text {
  color: var(--dark-theme-text);
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 130%;
}

.title-decor-third-section {
  margin-bottom: 20px;
  background-color: var(--accent-color);
}

.section-item-normal {
font-weight: 400;
font-style: normal;
}

.shadow-text {
  text-shadow: 1px 1px 0 var(--accent-color);
}